<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MindForgeWeb Technology</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @await Html.PartialAsync("_SEO")
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">

    <!-- CSS
    ============================================ -->
    <!-- Icon Font CSS -->
    <link href="~/assets/css/plugins/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/plugins/flaticon.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/aos.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
   



</head>
<body>
    <div class="main-wrapper">
        @await Html.PartialAsync("_Header")
        <!-- Offcanvas Start-->
        <div class="offcanvas offcanvas-start" id="offcanvasExample">
            <div class="offcanvas-header">
                <!-- Offcanvas Logo Start -->
                <div class="offcanvas-logo">
                    <a href="#">
                        <img src="~/assets/images/logo/logo.png" alt="" />
                        
                    </a>
                </div>
                <!-- Offcanvas Logo End -->
                <button type="button" class="close-btn" data-bs-dismiss="offcanvas"><i class="flaticon-close"></i></button>
            </div>

            <!-- Offcanvas Body Start -->
            <div class="offcanvas-body">
                <div class="offcanvas-menu">
                    @await Html.PartialAsync("_Nav")                   
                </div>
            </div>
            <!-- Offcanvas Body End -->
        </div>
        <!-- Offcanvas End -->
        <div class="container-fluid px-0">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        @await Html.PartialAsync("_Footer")

    </div>

    <!-- JS
    ============================================ -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.11.2.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="~/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/assets/js/plugins/aos.js"></script>
    <script src="~/assets/js/plugins/waypoints.min.js"></script>
    <script src="~/assets/js/plugins/back-to-top.js"></script>
    <script src="~/assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="~/assets/js/plugins/appear.min.js"></script>
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
