<ul class="main-menu">
    <li class="active-menu">
        <a asp-action="Index" asp-controller="Home">Home</a>
        
    </li>
    <li>
        <a asp-action="AboutUS" asp-controller="Home">Aboute Us</a>
    </li>
    <li>
        <a href="#">Service</a>
        <ul class="sub-menu">
            <li><a href="#">Custom Software Development</a></li>
            <li><a href="#">Web App Development</a></li>
            <li><a href="#">Mobile App Development</a></li>
            <li><a href="#">UI/UX Design</a></li>
            <li><a href="#">Cloud Solutions</a></li>
            <li><a href="#">AI & Automation</a></li>
            <li><a href="#">IT Consulting</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Product</a>
        <ul class="sub-menu">
            <li><a href="/Home/SchoolErpSystem">School ERP System</a></li>
            <li><a href="/Home/HRMS">HRMS (Human Resource Management)</a></li>
            <li><a href="#">POS (Point of Sale)</a></li>
            <li><a href="#">Accounting & Billing Software</a></li>
            <li><a href="#">Inventory Management</a></li>
            <li><a href="#">CRM & Lead Management</a></li>
            <li><a href="#">ECommerce Platform</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Industries</a>
        <ul class="sub-menu">
            <li><a href="#">Education</a></li>
            <li><a href="#">Retail</a></li>
            <li><a href="#">Healthcare</a></li>
            <li><a href="#">Real Estate</a></li>
            <li><a href="#">Manufacturing</a></li>
            <li><a href="#">Finance</a></li>
            
        </ul>
    </li>
    <li>
        <a href="#">Blog</a>
        @* <ul class="sub-menu">
            <li><a href="blog.html">Blog Grid</a></li>
            <li><a href="blog-standard.html">Blog List</a></li>
            <li><a href="blog-details.html">Blog Single</a></li>
        </ul> *@
    </li>
    <li><a asp-action="ContactUs" asp-controller="Home">Contact</a></li>
</ul>